header
  padding: 25px
  display: flex
  justify-content: flex-end
  box-shadow: 2px 2px 40px rgba(#000, .07);
  position: relative
  z-index: 1
  height: $headerHeight;

  a
    text-decoration: none
    margin-right: 40px
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 15px
