.sidebar
  width: 230px
  position: relative
  height: 100vh
  display: flex
  justify-content: center
  padding-top: 30px

  &__inner
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 180px
