.sidebar
  width: 250px
  position: relative
  height: 100vh
  display: flex
  justify-content: center
  overflow: hidden

  .scroll-container
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 30px;


  h3
    font-weight: 600
    font-size: 1.8rem
    margin-bottom: 1em

  &__inner
    height: 100%
    display: flex
    flex-direction: column
    width: 180px

  .btn
    margin-bottom: 40px
    min-height: 45px;

  &__links
    margin: 0 0 35px 0

    &__label-header
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 1em

      h3
        margin: 0

      button
        border: none
        color: $color-main
        font-weight: 700
        font-size: 2.6rem
        margin-bottom: 7px
        cursor: pointer
        transition: all .5s ease-in-out;
        line-height: 0

        &:focus
          outline: none

        &:hover
          animation: rainbow 3s infinite
          transform: scale(1.4);

    &--lang
      .sidebar__link img
        width: 10px

  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    letter-spacing: .9px
    font-size: 1.2rem
    margin-bottom: 20px
    font-weight: 700
    opacity: 0.8
    transition: $transition1
    background: none
    border: 0
    font-family: inherit
    padding: 0
    cursor: pointer

    &:last-child
      margin-bottom: 0

    &:focus
      outline: none

    img
      width: 20px
      margin-right: 20px
    
    &:hover
      letter-spacing: 1.3px
      color: $color-main

  &__label

    &__icon
      width: 10px
      height: 10px
      margin-right: 20px
      border-radius: 50%
      background: pink
      display: inline-block

.addLabel
  display: flex
  position: relative
  margin-top: -10px
  margin-bottom: 20px

  .btn
    margin: 0
    padding: .3em .6em
    font-weight: 600
    font-size: 2rem

  input
    margin: 0  

@keyframes rainbow 
  0%
    color: #949eff  
  25%
    color: #746fec 
  50%
    color: #c6a1f7
  75%
    color: #fd79a8              
  100%
    color: #949eff 
