.snippet
  transition: .3s all ease
  margin-bottom: 20px
  border-radius: 3px
  padding: 25px
  position: relative
  z-index: 10

  &--active
    box-shadow: 2px 2px 19px 2px rgba(147, 157, 254, 0.2)

    &:hover
      box-shadow: 2px 2px 22px 3px rgba(147, 157, 254, 0.1) !important

  h4
    font-size: 1.8rem
    font-weight: 700
    margin-bottom: .4em

  p
    max-width: 310px

  &__labels
    display: flex
          
  &__label 
    text-transform: uppercase
    font-size: 1.1rem
    letter-spacing: .7px
    margin-right: 12px
    border-left: 3px solid pink
    min-width: 100px
    padding: .6em 1.2em
    text-align: center
    font-weight: 700

    &--fav
      background: linear-gradient(to right, #FDA085, #F6D365);  
      border: none
      box-shadow: 0 2px 10px rgba(#F9B975, .4)
      color: #fff

  &:hover
    transform: scale(1.05) rotate(2deg);
    box-shadow: 2px 2px 12px 1px rgba(#273E54, .08)
    cursor: pointer


