/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #GRADIENTS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAHPY
\*------------------------------------*/
/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/
/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/
/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA QUERRIES
\*------------------------------------*/
/*------------------------------------*\
  #ASPECT RATIO (default 4:3)
\*------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 468px) {
    html {
      font-size: 56%; } }

::selection {
  background: #EE154A;
  text-shadow: 2px 1px 4px rgba(29, 29, 29, 0.5);
  color: #fff; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #EE154A; }

img {
  max-width: 100%;
    max-width-height: auto; }

hr, .hr {
  display: block;
  height: .1rem;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(182, 182, 182, 0.4); }

.wrapper {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 468px) {
    .wrapper {
      padding: 20px; } }

figure {
  margin: 0; }

header {
  padding: 25px;
  display: flex;
  justify-content: flex-end; }
  header a {
    text-decoration: none;
    margin-right: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px; }
