@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #GRADIENTS
\*------------------------------------*/
/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/
/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/
/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA QUERRIES
\*------------------------------------*/
/*------------------------------------*\
  #ASPECT RATIO (default 4:3)
\*------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 468px) {
    html {
      font-size: 56%; } }

body {
  margin: 0; }

::selection {
  background: #949eff;
  text-shadow: 2px 1px 4px rgba(29, 29, 29, 0.5);
  color: #fff; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #949eff; }

img {
  max-width: 100%;
    max-width-height: auto; }

hr, .hr {
  display: block;
  height: .1rem;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(182, 182, 182, 0.4); }

.wrapper {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 468px) {
    .wrapper {
      padding: 20px; } }

figure {
  margin: 0; }

.main-content {
  display: flex;
  overflow: hidden; }
  .main-content__inner {
    height: calc(100vh - 70px);
    overflow: hidden; }
    .main-content__inner--sidebar {
      flex: 1; }
      .main-content__inner--sidebar a {
        display: block; }
    .main-content__inner--snippets {
      flex: 2;
      padding: 20px;
      max-width: 450px;
      overflow: hidden; }
    .main-content__inner--detail {
      flex: 3; }

.App {
  display: flex; }

.card {
  box-shadow: 2px 2px 5px 0 rgba(39, 62, 84, 0.11);
  background: #fff; }

.nav-content {
  flex: 1; }

.loader {
  width: 50px;
  margin-top: 100px; }

.scroll-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: auto;
  padding-right: 25px;
  box-sizing: content-box; }

body {
  font-family: 'Nunito', sans-serif;
  color: #585757;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.4rem;
  background: #FCFCFC; }

h1, h2, h3, h4, h5, h6, th {
  color: #2a324e;
  margin: 0 0 0.7em 0;
  font-weight: 400;
  line-height: 1.18; }

h1, .h1 {
  font-size: 6.4rem; }

h2, .h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: .3em; }

h3, .h3 {
  font-size: 2rem; }

h4, .h4 {
  font-size: 2.7rem; }

h5, .h5 {
  font-size: 2.2rem; }

h6, .h6 {
  font-size: 2rem;
  color: #585757; }

p, .p {
  margin: 0 0 1em 0;
  max-width: 750px; }
  p:last-child, .p:last-child {
    margin-bottom: 0; }

.font-bold {
  color: #2a324e; }

.font-medium {
  color: #2a324e; }

a {
  transition: 0.28s all ease;
  text-decoration: none;
  color: initial; }

.btn, input[type=submit] {
  background-image: linear-gradient(to right, #949eff 0%, #746fec 51%, #c6a1f7 100%);
  transition: 0.38s all ease;
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border: none;
  white-space: normal;
  padding: 0.9em 1.7em 0.8em;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 1px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  background-size: 200% auto;
  cursor: pointer; }
  .btn:last-child, input:last-child[type=submit] {
    margin-right: 0; }
  .btn:hover, input:hover[type=submit] {
    background-position: right center;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09);
    color: #fff; }

.btn--black {
  background: #1c1e23; }
  .btn--black:hover {
    background: #33363f; }

.btn--black.btn--ghost {
  color: #1c1e23;
  box-shadow: inset 0px 0px 0px 0.15em #1c1e23; }
  .btn--black.btn--ghost:hover {
    background: #282c37; }

.btn--white {
  background: #fff;
  color: #1c1e23; }
  .btn--white:hover {
    background: #e6e6e6;
    color: #1c1e23; }

.btn--white.btn--ghost {
  color: #fff;
  box-shadow: inset 0px 0px 0px .15em #fff; }
  .btn--white.btn--ghost:hover {
    background: #e6e6e6;
    color: #1c1e23; }

.btn--rounded, input[type=submit] {
  border-radius: 4em; }

.btn--big, input[type=submit] {
  font-size: 1.9rem; }

.btn--ghost {
  color: #949eff;
  box-shadow: inset 0px 0px 0px 0.15em #949eff;
  background: transparent; }
  .btn--ghost:hover {
    color: #fff;
    background: #949eff;
    box-shadow: none; }

.btn--disabled {
  background: #b6b6b6;
  cursor: not-allowed;
  box-shadow: none;
  color: #fff; }
  .btn--disabled:hover {
    background: #b6b6b6;
    box-shadow: none; }

.text-link,
.text-link a {
  color: #949eff; }
  .text-link:hover,
  .text-link a:hover {
    color: #6170ff; }

textarea,
select,
input {
  background: #fff;
  border: none;
  box-shadow: 2px 2px 5px 0 rgba(39, 62, 84, 0.11);
  transition: 0.28s all ease;
  outline: none;
  display: block;
  width: 100%;
  padding: 1em;
  font-weight: 400;
  max-width: 300px;
  box-sizing: border-box;
  margin-bottom: 15px; }
  textarea:focus,
  select:focus,
  input:focus {
    border-bottom: 2px solid rgba(182, 182, 182, 0.4); }

input[type=submit],
input[type=radio],
input[type=checkbox] {
  width: initial; }

input[type=submit] {
  border: none;
  margin-top: 15px; }

label {
  margin-bottom: 8px;
  display: block;
  font-weight: 600;
  text-align: left; }

input[type=radio] ~ label {
  display: initial; }

.checkbox,
.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"],
  .radio input[type="checkbox"],
  .radio input[type="radio"] {
    margin: 0 10px 0 0; }

.input {
  margin-bottom: 2.5rem; }

.btn-group {
  display: flex; }
  .btn-group .input {
    margin: 0;
    display: inline; }

select {
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .7px;
  margin: 0; }

header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 1;
  height: 70px; }
  header a {
    text-decoration: none;
    margin-right: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px; }
  header input {
    padding: 8px 10px;
    max-width: 200px;
    margin: 0; }

.snippet {
  transition: .3s all ease;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 25px;
  position: relative;
  z-index: 10; }
  .snippet h4 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .4em; }
  .snippet p {
    max-width: 310px; }
  .snippet__labels {
    display: flex; }
  .snippet__label {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .7px;
    margin-right: 12px;
    border-left: 3px solid pink;
    min-width: 100px;
    padding: .6em;
    text-align: center;
    font-weight: 700; }
    .snippet__label--fav {
      background: linear-gradient(to right, #FDA085, #F6D365);
      border: none;
      box-shadow: 0 2px 10px rgba(249, 185, 117, 0.4);
      color: #fff; }
  .snippet:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 2px 2px 12px 1px rgba(39, 62, 84, 0.08);
    cursor: pointer; }

.add-snippet-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px; }

.modal {
  height: 80vh;
  overflow: scroll; }

.editor-detail {
  margin-bottom: 30px; }
  .editor-detail__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .editor-detail__top p {
      color: #2a324e;
      margin: 0;
      font-weight: 600;
      font-size: 1.5rem; }
  .editor-detail__copy {
    text-transform: uppercase;
    font-size: 1.4rem !important;
    font-weight: 700 !important;
    letter-spacing: .6px;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer; }

.sidebar {
  width: 250px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px; }
  .sidebar h3 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: .8em; }
  .sidebar__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 180px; }
  .sidebar .btn, .sidebar input[type=submit] {
    margin-bottom: 40px; }
  .sidebar__links {
    margin: 0 0 35px 0; }
    .sidebar__links--lang .sidebar__link img {
      width: 10px; }
  .sidebar__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .9px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.28s all ease;
    background: none;
    border: 0;
    font-family: inherit;
    padding: 0;
    cursor: pointer; }
    .sidebar__link:focus {
      outline: none; }
    .sidebar__link img {
      width: 20px;
      margin-right: 20px; }
    .sidebar__link:hover {
      letter-spacing: 1.3px;
      color: #949eff; }
  .sidebar__label__icon {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 50%;
    background: pink;
    display: inline-block; }

.snippet-detail {
  padding: 20px 20px 20px 10px;
  position: relative; }
  .snippet-detail__top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .snippet-detail__desc {
    font-size: 1.5rem;
    margin-bottom: 30px; }
  .snippet-detail__time__created {
    text-transform: uppercase;
    color: #2a324e;
    letter-spacing: .7px;
    margin-right: 7px;
    font-size: 1.3rem;
    font-weight: 700; }
  .snippet-detail__time:after {
    content: '';
    display: block;
    background: rgba(148, 158, 255, 0.7);
    width: 30px;
    height: 2px;
    margin: 10px 0; }
  .snippet-detail__label-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; }
    .snippet-detail__label-bar__control {
      display: flex;
      align-items: center; }
      .snippet-detail__label-bar__control img {
        margin-right: 20px;
        width: 40px;
        transition: 0.28s all ease;
        cursor: pointer; }
        .snippet-detail__label-bar__control img:hover {
          transform: scale(1.3); }
  .snippet-detail__controls img {
    margin-left: 20px; }
  .snippet-detail hr {
    margin-bottom: 30px;
    opacity: .5; }
