/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #GRADIENTS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAHPY
\*------------------------------------*/
/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/
/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/
/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA QUERRIES
\*------------------------------------*/
/*------------------------------------*\
  #ASPECT RATIO (default 4:3)
\*------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 468px) {
    html {
      font-size: 56%; } }

::selection {
  background: #ee154a;
  text-shadow: 2px 1px 4px rgba(29, 29, 29, 0.5);
  color: #fff; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #ee154a; }

img {
  max-width: 100%;
    max-width-height: auto; }

hr, .hr {
  display: block;
  height: .1rem;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(182, 182, 182, 0.4); }

.wrapper {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 468px) {
    .wrapper {
      padding: 20px; } }

figure {
  margin: 0; }

.main-content {
  display: flex; }
  .main-content__inner {
    height: calc(100vh - 70px);
    padding: 20px; }
    .main-content__inner--labels {
      flex: 1;
      background: #fff; }
    .main-content__inner--snippets {
      flex: 2;
      background: #fff; }
    .main-content__inner--detail {
      flex: 3; }

body {
  font-family: brandon_grotesque_regularRg, Helvetica, Arial, Sans-Serif;
  color: #38415f;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem; }

h1, h2, h3, h4, h5, h6, th {
  font-family: Montserrat, Helvetica, Arial, Sans-Serif;
  color: #1c1e23;
  margin: 0 0 0.6em 0;
  font-weight: 400;
  line-height: 1.18; }

h1, .h1 {
  font-size: 6.4rem; }

h2, .h2 {
  font-size: 4.8rem; }

h3, .h3 {
  font-size: 2.3rem; }

h4, .h4 {
  font-size: 2.7rem; }

h5, .h5 {
  font-size: 2.2rem; }

h6, .h6 {
  font-size: 2rem;
  color: #38415f; }

p, .p {
  margin: 0 0 1em 0;
  max-width: 750px; }
  p:last-child, .p:last-child {
    margin-bottom: 0; }

.font-bold {
  color: #1c1e23;
  font-family: brandon_grotesquebold, Helvetica, Arial, Sans-Serif; }

.font-medium {
  color: #1c1e23;
  font-family: brandon_grotesquemedium, Helvetica, Arial, Sans-Serif; }

a {
  transition: 0.28s all ease;
  text-decoration: none;
  color: initial; }

header {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 1;
  height: 70px; }
  header a {
    text-decoration: none;
    margin-right: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px; }
